#DisplayHabit {

}

#habitBox{
    background-color: #ddd;
    margin: 30px 100px;
    padding: 5px 5px;
    /* margin-bottom: 100px; */
    border-radius: 20px;


}

#habitName {
    font-family: sans-serif;
    font-size: 25px;
    line-height: 41px;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: #797a7e;
}

#statusbtn {
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #fbdcc4;
    border: none;
    margin: 0 30px;
    padding: 15px 30px;
    border-radius: 5px;
    /* z-index: +1; */
    font-size: 15px;
    font-weight: 500;
}

#statusbtn:hover  {
    background-color: #dbc0aa;
}

#statusbtn:focus  {
    outline:0;
}

#deletebtn {
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #f39190;
    border: none;
    margin: 0 30px;
    margin-bottom:20px;
    padding: 15px 30px;
    border-radius: 5px;
    /* z-index: +1; */
    font-size: 15px;
    font-weight: 500;
}

#deletebtn:hover  {
    background-color: #ed6663;
}

#deletebtn:focus  {
    outline:0;
}

#streaktext {
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #797a7e;
    font-family: 'Montserrat', sans-serif;


}