form {
    color: #797a7e;
}

#signupTitle {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 41px;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: #c9d8ce;
    margin-top: 5%;
    text-align: center;
    /* color: #c9d8ce ; */
}

label {
    /* display: block; */
    text-transform: uppercase;
    /* text-align: left; */
    font-size: 15px;
    font-weight: 400;
}

.textbox {
    border-radius: 5px;
    margin: 20px 100px;
    margin-left: 100px;
    margin-right: 100px;
    /* padding: ; */
    height: 40px;
    width: 250px;
    font-size: 20px;
    padding: 0 10px;
    border: solid 0.05em #797a7e;
}

.textbox[placeholder]{
    font-weight: 100;

}

.textbox:focus {
    outline:0;

}

.signupbtn1 {
    margin-top: 10px;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #d8d3cd;
    border: none;
    margin: 0 30px;
    padding: 15px 30px;
    border-radius: 5px;
    /* z-index: +1; */
    font-size: 15px;
    font-weight: 700;

}

.signupbtn1:hover {
    background-color: #c9d8ce;

}

.signupbtn1:focus {
    outline:0;

}

ul {
    list-style-type: none;
}